# TRUE FOR SERVER, FALSE FOR LOCAL
IMPORT_DATA=false 

APPLIACTION_HTTP_CONNECTTIMEOUTINMILLIS=10000
APPLIACTION_HTTP_KEEPALIVEDURATIONINMILLIS=30000
APPLIACTION_HTTP_MAXIDELCONNECTIONS=100
APPLIACTION_HTTP_IDELCONNECTIONTIMEOUTINMILLIS=90000
APPLIACTION_HTTP_TLSHNADSHAKETIMEOUTINMILLIS=10000
APPLICATION_HTTP_EXCEPTCONTINUETIMEOUTINMILLIS=1000
APPLICATION_HTTP_TIMEOUTINMILLIS=15000

LANGUAGE_LANGUAGELIST="en"

LOGGER_LEVEL="debug"
LOGGER_PATH="role.log"

POSTGRES_HOST=13.127.47.0
POSTGRES_USER="cordelia_cruise"
POSTGRES_PASSWORD="Cordelia@123"
POSTGRES_DBNAME="cordelia"
POSTGRES_PORT=5432
POSTGRES_SSLMODE="disable"
POSTGRES_TIMEZONE="Asia/Kolkata"

VAULT_TOKEN="hvs.AMb7KxznWgMOXnogg6kpjLKl"
VAULT_UNSEALKEYS="pNsdEhoVg5Tqs4zf33ZjcRAu+6/5kADGEhwWEdkzolA="
VAULT_ADDRESS="http://13.235.75.148:8200"